.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 2rem;
}

.px-3 {
  padding: 0 3rem;
}

.px-4 {
  padding: 0 4rem;
}

.p-xy {
  padding: 1rem 2rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-a {
  margin-left: 10%;
}

.ml-aa {
  margin-left: 30%;
}

.netflix a {
  justify-self: center;
}

.ml-4 {
  margin-left: 4rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin-bottom: 2rem 0;
}

.my-3 {
  margin-bottom: 3rem 0;
}

.my-4 {
  margin-bottom: 4rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-3 {
  margin: 0 3rem;
}

.mx-4 {
  margin: 0 4rem;
}

.float-left {
  text-align: left;
}

.float-center {
  text-align: center;
}

.float-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

hr {
  height: 1px;
  background: #ccc;
}

.alert {
  height: 1rem;
  margin: 0.5rem 1rem;
  color: white;
  padding: 0.8rem;
  border-radius: 5px;
}

.alert-red {
  background: red;
}

.alert-green {
  background: green;
}

.grey {
  background: #2b2a2a;
}

.quote-border-red {
  border-left: 5px solid red;
}

.quote-border-green {
  border-left: 5px solid green;
}

.quote-background-red {
  background: #e50914;
  color: #fff;
}

.quote-background-green {
  background: green;
}

.quote-background-yellow {
  background: yellow;
}

.quote-background-blue {
  background: blue;
  color: white;
}

.quote-background-orange {
  background: orange;
}

.d-flex {
  display: flex;
}

.justify-content {
  justify-content: space-between;
}

.border-none {
  border: none;
}

.text-left {
  float: left;
}

.text-right {
  float: right;
}

.d-grid {
  display: grid;
}

.grid-1 {
  grid-template-columns: 1fr;
}

.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.d-block {
  display: block;
}

.green {
  color: rgb(13, 243, 13);
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.white {
  color: #fff;
}

.font-1 {
  font-size: 1.02rem;
}

.font-2 {
  font-size: 1.75rem;
}

.font-3 {
  font-size: 2rem;
}

.li-none {
  list-style: none;
}

.grid > div {
  box-sizing: border-box;
  float: left;
}

.grid.col-1 > div {
  width: 100%;
}

.grid.col-2 > div {
  width: 50%;
}

.grid.col-3 > div {
  width: 33.33333%;
}

.grid.col-4 > div {
  width: 25%;
}

.grid.col-5 > div {
  width: 20%;
}

.grid.col-6 > div {
  width: 16.66667%;
}

.grid.col-7 > div {
  width: 14.28571%;
}

.grid.col-8 > div {
  width: 12.5%;
}

.grid.col-9 > div {
  width: 11.11111%;
}

.grid.col-10 > div {
  width: 10%;
}

.grid.col-11 > div {
  width: 9.09091%;
}

.grid.col-12 > div {
  width: 8.33333%;
}

@media all and (max-width: 1400px) {
  .display-xlg-none {
    display: none;
  }

  .grid.col-xlg-1 > div {
    width: 100%;
  }

  .grid.col-xlg-2 > div {
    width: 50%;
  }

  .grid.col-xlg-3 > div {
    width: 33.33333%;
  }

  .grid.col-xlg-4 > div {
    width: 25%;
  }

  .grid.col-xlg-5 > div {
    width: 20%;
  }

  .grid.col-xlg-6 > div {
    width: 16.66667%;
  }

  .grid.col-xlg-7 > div {
    width: 14.28571%;
  }

  .grid.col-xlg-8 > div {
    width: 12.5%;
  }

  .grid.col-xlg-9 > div {
    width: 11.11111%;
  }

  .grid.col-xlg-10 > div {
    width: 10%;
  }

  .grid.col-xlg-11 > div {
    width: 9.09091%;
  }

  .grid.col-xlg-12 > div {
    width: 8.33333%;
  }
}

@media all and (max-width: 1055px) {
  .ml-aa {
    margin-left: 5%;
  }

  .display-lg-none {
    display: none;
  }

  .grid.col-lg-1 > div {
    width: 100%;
  }

  .grid.col-lg-2 > div {
    width: 50%;
  }

  .grid.col-lg-3 > div {
    width: 33.33333%;
  }

  .grid.col-lg-4 > div {
    width: 25%;
  }

  .grid.col-lg-5 > div {
    width: 20%;
  }

  .grid.col-lg-6 > div {
    width: 16.66667%;
  }

  .grid.col-lg-7 > div {
    width: 14.28571%;
  }

  .grid.col-lg-8 > div {
    width: 12.5%;
  }

  .grid.col-lg-9 > div {
    width: 11.11111%;
  }

  .grid.col-lg-10 > div {
    width: 10%;
  }

  .grid.col-lg-11 > div {
    width: 9.09091%;
  }

  .grid.col-lg-12 > div {
    width: 8.33333%;
  }
}

@media all and (max-width: 795px) {
  .display-md-none {
    display: none;
  }

  .ml-aa {
    margin-left: 2%;
  }

  .grid.col-md-1 > div {
    width: 100%;
  }

  .grid.col-md-2 > div {
    width: 50%;
  }  

  .grid.col-md-3 > div {
    width: 33.33333%;
  }

  .grid.col-md-4 > div {
    width: 25%;
  }

  .grid.col-md-5 > div {
    width: 20%;
  }

  .grid.col-md-6 > div {
    width: 16.66667%;
  }

  .grid.col-md-7 > div {
    width: 14.28571%;
  }

  .grid.col-md-8 > div {
    width: 12.5%;
  }

  .grid.col-md-9 > div {
    width: 11.11111%;
  }

  .grid.col-md-10 > div {
    width: 10%;
  }

  .grid.col-md-11 > div {
    width: 9.09091%;
  }

  .grid.col-md-12 > div {
    width: 8.33333%;
  }
}

@media all and (max-width: 534px) {
  .display-sm-none {
    display: none;
  }

  .grid.col-sm-1 > div {
    width: 100%;
  }

  .ml-aa {
    margin-left: auto;
  }

  .grid.col-sm-2 > div {
    width: 50%;
  }

  .grid.col-sm-3 > div {
    width: 33.33333%;
  }

  .grid.col-sm-4 > div {
    width: 25%;
  }

  .grid.col-sm-5 > div {
    width: 20%;
  }

  .grid.col-sm-6 > div {
    width: 16.66667%;
  }

  .grid.col-sm-7 > div {
    width: 14.28571%;
  }

  .grid.col-sm-8 > div {
    width: 12.5%;
  }

  .grid.col-sm-9 > div {
    width: 11.11111%;
  }

  .grid.col-sm-10 > div {
    width: 10%;
  }

  .grid.col-sm-11 > div {
    width: 9.09091%;
  }

  .grid.col-sm-12 > div {
    width: 8.33333%;
  }
}
