.logos {
  width: 100x;
  height: 50px;
}

.des-2 h2,
.des-3 h2,
.des-4 h2 {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-top: 100px;
}

.des-2 p,
.des-3 p,
.des-2 p {
  font-size: 1.25rem;
  font-weight: bold;
}

.clearfix

.img-size {
  width: 400px;
  height: 350px;
}

.mail {
  position: relative;
  margin: 1rem auto;
  max-width: 1100px;
  font-size: 1.625rem;
}

.clearfix {
  overflow: auto;
  position: relative;
  border-top: 10px solid rgb(222, 222, 235);
}

.faq .questions,
.faq button {
  
}

.btn {
  width: 60%;
  margin: 10px auto;
}

/* .title h2 {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.mail {
  max-width: 750px;
  margin: 1rem auto;
}

.logos {
  width: 100x;
  height: 50px;
}

.clearfix {
  overflow: auto;
  position: relative;
}

.clearfix .des-3 {
  position: absolute;
  left: 40%;
  top: 100px
}

.des-2 h3 {
  font-size: 40px;
  margin: 0 0 8px;
}

.des-3 h3 {
  font-size: 40px;
  margin: 0 0 8px;
}

.des-3 {
  margin-top: 0px
} */

