.logos {
  width: 100px;
  height: 50px;
}

.des-2 h2,
.des-3 h2,
.des-4 h2 {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-top: 100px;
}

.des-1 p,
.des-3 p,
.des-2 p {
  font-size: 1.25rem;
  font-weight: bold;
}

.img-size {
  width: 400px;
  height: 350px;
}

.mail {
  position: relative;
  margin: 1rem auto;
  max-width: 1100px;
  font-size: 1.625rem;
}

.clearfix {
  overflow: hidden;
  position: relative;
  border-top: 10px solid rgb(222, 222, 235);
}

.btn {
  width: 60%;
  margin: 10px auto;
}

.btn p {
  color: #fff;
  font-size: 30px;
}

.faq .btn-2 {
  margin: 10px auto;
}

.green-design {
  height: 40px;
  border-radius: 1.05rem;
  background: linear-gradient(to right, #02fd73 10%, #215a24 36%, #1a1d1a 30%, #3f3f3f 16%, rgba(63, 63, 63, 0) 100%);
}

.emb-video {
  position: relative;
  width: 400px;
  height: 350px;
}

.device-pile,
.img-2 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.img-2 video {
  width: 60%;
  height: 100%;
  position: absolute;
  left: 20%;
  top: 2;
  bottom: 2%;
}

.device-pile video {
  width: 60%;
  height: 100%;
  position: absolute;
  left: 20%;
  top: 2;
  bottom: 23%;
}

.footer-link ul li {
  list-style-type: none;
  margin-top: 15px;
}

.footer-link ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-link ul {
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix .emb-video {
  overflow: hidden;
}

@media (max-width: 1047px) {
  .clearfix {
    grid-template-columns: 1fr !important;
  }

  img {
    width: 100%;
    margin: 0 auto;
  }
}
